django
langchain
langchain-community
langchain-huggingface
langchain-groq
chromadb
sentence-transformers
groq
requests
pyproj
Pillow
geojson
django-crispy-forms
crispy-bootstrap5
rq>=1.16.2
django-rq>=2.10.2
unstructured[pdf]
